<div class="users">
  <button type="button" class="icon-button-refresh" title="Atualizar Lista de Usuários" ng-click="reloadUsers()">
    <i class="fa fa-refresh"></i>
  </button>
  <h1>{{header}}</h1>
  <!-- list users -->
  <div class="list" ng-hide="editMode"> 
    <table>
      <tr>
        <th style="border-width: 0px;" colspan="7">
          <button type="button" class="icon-button" title="Adicionar Usuário" ng-click="gotoEditMode('add', null)">
            <i class="fa fa-plus"></i>
          </button>
        </th>
      </tr>
      <tr>
      </tr>
      <tr>
        <th style="border-top: 0px;"></th>
        <th style="border-top: 0px;" colspan="2"></th>
        <th style="border-width: 0px;" colspan="3">Permissões</th>
        <th style="border-top: 0px;"></th>
      </tr>
      <tr>
        <th></th>
        <th style="width: 186px;">Nome</th>
        <th style="width: 116px;">Login</th>
        <th class="perm" style="width: 60px;">Adicionar</th>
        <th class="perm" style="width: 37px;">Editar</th>
        <th class="perm" style="width: 58px;">Remover</th>
        <th></th>
      </tr>
      <tr ng-repeat="x in allUsers" ng-mouseenter="hoveredIndex = $index" ng-mouseleave="hoveredIndex = -1">
        <td class="btn-cell">
          <button type="button" class="icon-button" title="Editar Usuário" ng-click="gotoEditMode('edit', $index)" ng-if="hoveredIndex == $index">
            <i class="fa fa-pencil"></i>
          </button>
        </td>
        <td>{{ x.name }}</td>
        <td>{{ x.login }}</td>
        <td>
          <i class="fa fa-check" ng-show="x.perm_add"></i>
        </td>
        <td>
          <i class="fa fa-check" ng-show="x.perm_edit"></i>
        </td>
        <td>
          <i class="fa fa-check" ng-show="x.perm_del"></i>
        </td>
        <td class="btn-cell">
          <button type="button" class="icon-button" title="Remover Usuário" ng-click="delUser($index)" ng-if="hoveredIndex == $index">
            <i class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <!-- add/edit user -->
  <div class="edit-users" ng-show="editMode">
    <form ng-submit="modifyUser()">
      <label for="name">Nome:</label></br><input type="text" maxlength="25" required ng-model="userData.name" auto-focus> <br />
      <label for="login">Login:</label></br><input type="text" maxlength="15" required ng-model="userData.login"> <br />
      <div ng-show="editType=='add'">
        <label for="pwd">Senha:</label></br><input type="password" maxlength="20" ng-required="editType=='add'" ng-model="userData.pwd"> <br />
      </div>
      Permissões: <br />
      <table>
        <tr>
          <td>
            <input type="checkbox" name="perm_add" ng-true-value="1" ng-false-value="0" ng-model="userData.perm_add">
            <label for="perm_add">Adicionar</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="perm_edit" ng-true-value="1" ng-false-value="0" ng-model="userData.perm_edit">
            <label for="perm_edit">Editar</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="perm_del" ng-true-value="1" ng-false-value="0" ng-model="userData.perm_del">
            <label for="perm_del">Remover</label>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <button type="submit" class="icon-button" title="Salvar">
              <i class="fa fa-check"></i>
            </button>
          </td>
          <td>
            <button type="button" class="icon-button" title="Cancelar" ng-click="reloadUsers()">
              <i class="fa fa-close"></i>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>