<div class="box users">
  <h1>Usuários</h1>
  <table>
    <tr>
      <th colspan="5">
        <div class="small-button" ng-click="">
          <img alt="+" src="../../images/icons/add-white-16.png">
        </div>
      </th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th colspan="3">Permissões</th>
    </tr>
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th>Adicionar</th>
      <th>Editar</th>
      <th>Deletar</th>
    </tr>
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th>Adicionar</th>
      <th>Editar</th>
      <th>Deletar</th>
    </tr>
    <tr ng-repeat="x in allUsers">
      <td>{{ x.name }}</td>
      <td>{{ x.login }}</td>
      <td>
        <img src="../../images/icons/checked-16.png" alt="S" ng-show="x.perm_add"></img>
      </td>
      <td>
        <img src="../../images/icons/checked-16.png" alt="S" ng-show="x.perm_edit"></img>
      </td>
      <td>
        <img src="../../images/icons/checked-16.png" alt="S" ng-show="x.perm_del"></img>
      </td>
      <td class="btn-cell">
        <div class="small-button" ng-click="">
          <img alt="&" src="../../images/icons/edit-white-16.png">
        </div>
      </td>
      <td class="btn-cell">
        <div class="small-button" ng-click="">
          <img alt="X" src="../../images/icons/delete-white-16.png">
        </div>
      </td>
    </tr>
  </table>
</div>