$font-family: Verdana, Helvetica, sans-serif;
$font-size: 14px;
$primary-color: rgb(29, 52, 108);
$secondary-color: rgb(255, 255, 255);
$button-color: rgb(26, 110, 197); 
$button-color-hover:  rgb(102, 125, 150);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 100% $font-family;
}

header {
  overflow: hidden;
  background-color: $primary-color;
  color: $secondary-color;
  padding: 10px 20px;
  font-size: $font-size + 2px; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  .button {
    float: left;
  }
  .header-right {
    float: right;
    position: relative;
  }

  #username { 
    float: left;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
  }

  #appname {
    padding: 10px;
    width: 100%;
    left:0;
    right:0;
    text-align: center;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
  font-size: $font-size + 2px; 
}

.list{
  table {
    width: 540px;
    border-collapse: collapse;
    .btn-cell {
      width: 40px;
    }
    th, td {
      border: 1px solid black;
      img {
        vertical-align: middle;
      }
    }
    .perm {
      font-size: $font-size - 2px;
    }
  }
}



h1 {
  font-size: 20px;
  margin: 0;
  padding: 0 10px 20px 10px;
  color: $primary-color;
}

input {
  margin: 10px;
}

.icon-button {
  background-color: $button-color;
  color: $secondary-color;
  text-decoration: none;
  border-radius: 4px;
  padding: 2px;
  width: 24px;
  height: 20px;
  position: relative;
  margin: auto;
  img { // icons center aligned with upper div position relative
    max-height: 60%;
    max-width: 60%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.icon-button:hover {
  background-color: $button-color-hover;
  color: $secondary-color;
  cursor: pointer;
}

.icon-button-update {
  @extend .icon-button;
  float: left;
}

.button {
  background-color: $button-color;
  color: $secondary-color;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  width: 80px;
}

.button:hover {
  background-color: $button-color-hover;
  color: $secondary-color;
  cursor: pointer;
}

.box {
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid $primary-color;
  border-radius: 4px;
  font-size: $font-size;
}

.login {
  @extend .box;
  width: 300px;
  .button {
    margin: auto;
  }
}

.users {
  @extend .box;
  width: 580px;
  // h1 {
    //   padding: 0 90px 20px 10px;
    // }
}

.edit-users{
  table{
    width: 90px;
    margin: 10px auto;
    text-align: left;
  }
}

input[type=checkbox] {
  margin: 0px;
}

button, input[type="submit"], input[type="reset"] {
	border: none;
	font: inherit;
	outline: inherit;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {}